h1 {

}

p {
	text-align: justify;
}

figcaption {
    text-align: center;
    margin-bottom: 10px;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
}

#list-comp {
    margin-top: auto;
    margin-bottom: auto;
}




/* Footer */
.navbar-static-bottom {
    margin-bottom: 0;
    border-radius: 0;
}




/* Images */

#img-circuit {
    max-height: 400px;
    float: right;
}

.img-moist {
    max-height: 350px;
}

.img-standard {
	border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img-standard:hover {
	opacity: 0.5;
}

.img-concl {
    max-width: 550px;
    margin: 0 auto;
}




/* Modal Styling */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1200px){
    .modal-content {
        width: 100%;
    }
}