body {
  padding-top: 50px;
  background-color: #F4F6EA;
}

a {
    color: #316c3d;
}

a:hover {
    color: #5a9c68;
}

#main {
  margin-bottom: 40px;
}

/* Navbar */

.navbar {
  background-color: #19381F;
  border: 0;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #8DBA8D;
}

.navbar .navbar-nav>li>a {
  color: #FFF;
}

.navbar .navbar-nav>li>a:hover {
  background-color: #102414;
  color: #8DBA8D;
}

.active {
  background-color: #102414;
}

.navbar-toggle {
    border: 1px solid #666;
    border-radius: 5px;
}

.icon-bar {
    background-color: #DDD;
}


/* Footer */
.navbar-static-bottom {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: inset 0px 11px 52px -13px rgba(0,0,0,0.5);

}

.navbar-text {
  color: #FFF;
}







.img-standard {
	border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img-standard:hover {
	opacity: 0.5;
}



















/* Modal Styling */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1200px){
    .modal-content {
        width: 100%;
    }
}
